.idea
.vscode
otel-go-auto-instrumentation
otel-go-auto-instrumentation-*
*.log
.otel-build
vendor
test/errors-test/errors-test
test/helloworld/helloworld
test/httpclient/httpclient
test/flags/flags
test/build/build
test/build/m1
test/build/m2
test/build/default
test/build/foo
otel_rules
otel_pkgdep
opentelemetry-go-auto-instrumentation
*_cache