.idea
.vscode

**/go.sum
**/vendor

otel-go-auto-instrumentation
otelbuild
otelbuild-*
otel
otel-*
*.log
.otel-build

test/errors-test/errors-test
test/errorstest/errorstest
test/helloworld/helloworld
test/httpclient/httpclient
test/flags/flags
test/build/build
test/build/m1
test/build/m2
test/build/default
test/build/foo
otel_rules
otel_pkgdep
opentelemetry-go-auto-instrumentation
*_cache
example/demo/demo
test/zap/test_zap
test/gorm/v1.22.0/test_gorm_crud
test/gorm/v1.23.1/test_gorm_crud
test/golog/test_glog
test/grpc/v1.44.0/test_grpc_basic
test/fasthttp/v1.45.0/test_basic_http
test/hertz/v0.9.0/test_hertz_basic
test/world/world
coverage.txt
example/extension/nethttp/demo
example/log/test
test/build/cmd/cmd
ssa.html
otel_pkg
ssa.html
otel_importer.go
test/fiberv2/v2.43.0/fiber_http
test/redis/v9.0.5/test_redis_ring


test/databasesql/mysql/test_access_database
test/databasesql/mysql/test_fetching_database
test/databasesql/mysql/test_modify_data
test/databasesql/mysql/test_prepared_statement
test/databasesql/mysql/test_single_row_query
test/databasesql/mysql/test_transaction
test/gomicro/v5.3.0/test_gomicro
test/redigo/v1.9.0/test_do_commands
test/redigo/v1.9.0/test_executing_commands
test/redigo/v1.9.0/test_transaction
test/redigo/v1.9.0/test_unsupported_commands
test/elasticsearch/v8.5.0/test_es_typedclient
test/elasticsearch/v8.4.0/test_es_crud