.idea
.vscode

**/go.sum
**/vendor

otel-go-auto-instrumentation
otelbuild
otelbuild-*
otel
otel-*
*.log
.otel-build
otel_import_holder.go

example/extension/nethttp/net_http
test/build/app
test/errors-test/errors-test
test/errorstest/errorstest
test/helloworld/helloworld
test/httpclient/httpclient
test/flags/flags
test/build/build
test/build/m1
test/build/m2
test/build/default
test/build/foo
otel_rules
otel_pkgdep
opentelemetry-go-auto-instrumentation
*_cache
example/demo/demo
test/zap/test_zap
test/gorm/v1.22.0/test_gorm_crud
test/gorm/v1.23.1/test_gorm_crud
test/golog/test_glog
test/grpc/v1.44.0/test_grpc_basic
test/fasthttp/v1.45.0/test_basic_http
test/hertz/v0.9.0/test_hertz_basic
test/world/world